@font-face {
  font-family: "NK57 Monospace";
  src: url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.eot");
  src: url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.eot?#iefix") format("embedded-opentype"),
   url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.woff2") 
   format("woff2"), url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.woff") 
   format("woff"), url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.ttf") 
   format("truetype"), url("//db.onlinewebfonts.com/t/715bb9d0e93a7f704b8b07d5fcf88820.svg#NK57 Monospace") format("svg");
}
